/* Layout */
body{
    background-color: #1F2235 !important;
}

a{
    text-decoration: none !important;
    color: transparent !important;
}

html {
    scroll-behavior: smooth;
}

.section-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    color: #20a39d !important;
    margin-top: 5rem !important;

}

.section-main-title{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 20px;
    display: block;
    color: white !important;
}

.section-description{
    max-width: 1000px !important;
    min-width: 6rem !important;
    line-height: 30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Poppins', sans-serif;
    color: #dfdfdf;
}

.section-margin-span{
    color: transparent;
}

:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --lightBlue: #229ED9;
    --ecoAsistenteGreen: #95C22B; 
    --highlightColor: #20a39d;
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}


/* Navbar */
.navbar{
    justify-content: right;
    height: 100px;
    background-color: #2b2e44 !important;
    position: fixed !important;
    width: 100%;
    top:0 !important;
    z-index: 1;
}

.container-fluid{
    background-color: #2b2e44 !important;
}

.nav-link{
    color: white !important;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.nav-link:hover{
    color: var(--highlightColor) !important;
    transition: color .2s ease-in;

}

.nav-item{
    margin-left: 3% !important;
}

.navbar-nav{
    margin-left: 13%;
    width: 74% !important;
}

.navbar-toggler{
    border: none !important;
}

.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important    
}

.toggler-icon{
    font-size: 30px !important;
}

.fas, .fa{
    color: white !important;
}

/* Main */

.main{
    
}

.title{
    font-family: 'Poppins', sans-serif;
    font-size: 38px;
    font-weight: 700;
    color: white;
}

.description{
    font-family: 'Poppins', sans-serif;
    font-size: 23px;
    line-height: 40px;
    font-weight: 300;
    margin-bottom: 50px;
    color: rgb(216, 215, 215);
}

.title-button{
    border: 2px solid var(--highlightColor);
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 13px 40px;
    border-radius: 50px;
    font-size: 15px;
    background-color: transparent;
}

.title-button:hover{
    background-color: var(--highlightColor);
    transition: background-color .2s ease-in
    
}

.title-button-right{
    margin-left: 3%;
}

.social-links{
    margin-left: 0rem !important;
    margin-bottom: 3rem !important;
}

@media (max-width:900px){
    .social-links{
        margin-top: 5% !important;
    }

    .text-container{
        margin-left: 3%;
        width: 93% !important;
    }

    .main{
        min-height: 650px !important;
    }
}

@media (max-width:1150px){
    .img-col{
        display: none !important;
    }
}

@media (min-width:900px){
    .social-links{
        margin-top: -16% !important;
    }

    .text-container{
        margin-left: 13%;
        width: 74% !important;
    }
}

.social-links a{
    text-align: center;
	float: left;
	width: 50px;
	height: 50px;
	border: 2px solid var(--highlightColor);
	border-radius: 100%;
	margin-right: 1.2rem; /*space between*/
} 

.social-links a:hover{
    background-color: var(--highlightColor);
    transition: background-color .2s ease-in;
}

.social-links a i{
	font-size: 25px;
    line-height: 46px;
	color: white !important;
    margin-left: -1px !important;
}

/* my-proyects */

.my-projects{
    background-color: var(--backgroundColor) !important;
    position: relative;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.attribution { 
    font-size: 11px; text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    background-color: rgb(36,38,59);
    box-shadow: 0 1.6rem 2.4rem rgb(0 0 0 / 25%);
    border-radius: 0.8rem;
    padding: 30px;
    margin: 20px;
    min-height: 20rem;
    padding: 1.6rem 4.3rem 2.2rem 3.5rem;
    position: relative;
    margin-bottom: 2.7rem;
    margin-right: 1rem;
    margin-left: 1rem;  
}


@media (min-width: 375px) and (max-width: 450px) {

    .project-img{
        width: 3.8rem !important;
    }

    .box {
        height: 14rem !important;
    }

    .box-description{
        margin-bottom: -10px !important;
    }
}

@media (max-width: 358px){
    .technologies a{
        display: none !important;
    }
}

@media (max-width:375px){
    .box-title{
        font-size: 23px;
    }
    .project-img{
        width: 3rem !important;
    }

    .box {
        height: 12rem !important;
    }

    .box-description{
        margin-bottom: -15px !important;
    }
}

@media (min-width:375px){
    .box-title{
        font-size: 30px;
    }
}

@media (max-width: 950px) and (min-width: 450px ) {
    .box {
        text-align: left;
        height: 14rem !important;
    }
}

.cyan {
    background-color: var(--cyan);
}
.lightblue{
    background-color: var(--lightBlue);
}

.red {
    background-color: var(--red);
}
.blue {
    background-color: var(--blue);
}
.orange {
    background-color: var(--orange);
}

.green{
    background-color: var(--ecoAsistenteGreen);
}

@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -8rem !important;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 25%;
        min-width: 25%;
     
    }
    .header p {
        width: 30%;
    }
    
}

.project-img{
    width: 70px;
    margin-bottom: 30px !important;
}

.box-title{
    font-family: 'Poppins', sans-serif;
    color: white !important;
    margin-bottom: 4px;
    font-size: 25px;
}

.box-description{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.technologies a{
    text-align: center;
	float: left;
	width: 35px;
	height: 35px;
	border-radius: 100%;
	margin-right: -3px; /*space between*/
    margin-top: 2rem;
} 

.technologies a i:hover{
    color: var(--highlightColor) !important;
    transition: color .2s ease-in !important;
}

.technologies a i{
	font-size: 22px;
    line-height: 25px;
	color: var(--grayishBlue) !important;
    background-color: transparent !important;
    border: none !important;
}

.box .after {
    content: "";
    position: absolute;
    width: 100%;
    height: 0.5rem;
    bottom: 0;
    left: 0;
    border-radius: 0 0 0.8rem 0.8rem;
}

.box:hover{
    cursor: pointer;
}

/* About Me */

.about-me{
    background-color: rgb(36,38,59);
}

.img-col-about-me{
    margin-left: 5% !important;
}

.text-col{
    margin-left: -10%;
}

.title-about-me{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 28px;
    color: white;
    margin-top: 30px;
}

.description-about-me{
    max-width: 600px !important;
    min-width: 6rem !important;
    line-height: 30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Poppins', sans-serif;
    color: #dfdfdf;
    text-align: justify;
}

.subtitle-about{
    color: var(--highlightColor);
    font-weight: 600;
    font-size: 18px;
    margin-top: 15px !important;
}

.about-me .email{
    margin-top: -15px !important;
    line-height: 30px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: 'Poppins', sans-serif;
    color: #dfdfdf;
    text-align: justify;
}

.cv-button{
    border: 2px solid var(--highlightColor);
    color: #fff;
    font-weight: 500;
    display: inline-block;
    padding: 13px 40px;
    border-radius: 50px;
    font-size: 15px;
    background-color: transparent;
    margin-top: 20px;
    background-color: var(--highlightColor);
    margin-bottom: 20px;
}

@media (min-width:1100px) and (max-width:1300px){
    .img-col-about-me{
        margin-left: -10% !important;
    }
}

@media (min-width:760px) and (max-width:1100px){
    .img-col-about-me{
        margin-left: -20% !important;
    }

    .text-col{
        margin-left: 0%;
    }
}

@media (max-width:760px){
    .text-col{
        margin-left: 5%;
        margin-top: 5%;
    }

    .img-col-about-me{
        margin-left: -30% !important;
    }
}